.skew {
	&-light {
		--lightShape: polygon(0 0, 0 100%, 100% 100%);
		clip-path: var(--lightShape);
		-webkit-clip-path: var(--lightShape); // CSS Custom Properties (aka Native CSS variables)
		background-color: $lightBlue; // SCSS Variable
		grid-column: 1/3;
		grid-row: 3/-1; // 3 to end
	}
	&-dark {
		--darkShape: polygon(0 0, 0 100%, 50% 100%, 100% 0);
		clip-path: var(--darkShape);
		-webkit-clip-path: var(--darkShape);
		background-color: $darkBlue;
		grid-column: 1/5;
		grid-row: 1/-1;
	}
}
