main {
	grid-column: 5/10;
	grid-row: 2/3;
	justify-self: center;

	padding-bottom: 50px;

	input {
		border: none;
		background-color: transparent;
		border-bottom: 2px solid #E3B924;

		font-size: 80px;
		font-family: 'Roboto Condensed';
		font-weight: bold;
		color: $grey;
		text-align: center;

		&:focus {
			outline: none;
		}
	}
}
